{% extends 'base.html.twig' %}

{% block title %}Agence Lorem ipsum{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque dolore error facilis libero placeat provident quam qui voluptatem voluptatum? Aliquid cupiditate dolore enim, eveniet itaque maiores nihil sequi vero?  </p>
    </div>
    <div class="container">
    </div>
{% endblock %}


